.crimeGraph .restaurantSafety .restaurantNumber .costCompare {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 100px;
}

.costCompare {
  margin-top: 30px;
}

.gaugeContainer {
	width: 50%;
	height: 100%;
}
