.mapContainer {
  height: 400px;
  width: 50%;
  padding: 100px;
  margin: 0 auto;
}

.logout-btn {
  margin-top:8px;
  margin-right: 8px;
  background-color: #435359;
  color: white;
}

.login-btn {
  background-color: #435359;
  color: white;
}

.navbar-login {
  margin-right: 6px;
}