@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

// COLOR VARIABLES
$background_color: #2A373C; //card
$submit_btn: #192C33;
$submit_btn_hover: #758084;
$border_radius: 20px;
$font_weight: 200;

/* BEGIN searchBox specific styling */

.addressInput-card {
  padding: 10px 25px 25px 25px;
  width: 100%;
  background-color: $background_color;
  margin: 0 auto 10px;
  border-radius: $border_radius;
  overflow: hidden;
}

.addressInput-card h1 {
  font-weight: $font_weight;
  text-align: center;
  font-size: 2.7em;
}

.addressInput-submit {
  width: 100%;
  height: 44px;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.addressInput-card input[type=text] {
  height: 44px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border-radius: $border_radius; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.addressInput-submit {
  text-align: center;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  font-weight: $font_weight;
  height: 45px;
  padding: 0 8px;
  border-radius: $border_radius; 
}

.addressInput-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: $submit_btn;
}

.addressInput-submit:hover {
  border: 0px;
  background-color: $submit_btn_hover;
}

.addressInput-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.card-holder {
  padding: 30px 30px 30px 30px;
}

/* END searchBox styling */