@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
/* BEGIN general styling */
body {
  background-color: #435359;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif; }

div, input, form, .navbar, .form-control, .btn, .panel {
  border-radius: 20px;
  font-weight: 200; }

input {
  text-align: center;
  border: 0px; }

input[type="range"] {
  text-align: center;
  margin: 0 auto;
  display: block; }

.resultsHeadline {
  text-align: center;
  font-size: 36px;
  color: white;
  font-weight: 200; }

h1 {
  color: white;
  font-weight: 200; }

h3, h4 {
  text-align: center;
  color: white;
  font-weight: 200; }

.slider {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px; }

.panel-heading {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.list-group-item:first-child, .list-group-item:last-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.headline {
  color: white;
  font-size: 100px;
  text-align: center;
  font-weight: 200;
  margin-top: -20px; }

.row {
  margin-top: 20px;
  margin-bottom: 20px; }

.col-sm-4 {
  border-radius: 10px; }

/* END general styling */

.costCompare, .commuteTime, .singleLadies, .singleMen, .sizeCompare {
  margin-top: 30px; }

.gaugeContainer {
  width: 50%;
  height: 100%; }

.mapContainer {
  height: 400px;
  width: 50%;
  padding: 100px;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: white; }

.logout-btn {
  margin-top: 8px;
  margin-right: 8px;
  background-color: #435359;
  color: white; }

.login-btn {
  background-color: #3b5998;
  color: white; }

.navbar-login {
  margin-right: 6px; }

/* BEGIN this section removes default blue borders when buttons and form inputs are selected */
.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn:focus, .btn:active {
  outline: none !important; }

.search-form input[type="search"] {
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px; }

textarea:focus, input:focus {
  outline: 0; }

/* END this section removes default blue borders when buttons and form inputs are selected */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
/* BEGIN searchBox specific styling */
.addressInput-card {
  padding: 10px 25px 25px 25px;
  width: 100%;
  background-color: #2A373C;
  margin: 0 auto 10px;
  border-radius: 20px;
  overflow: hidden; }

.addressInput-card h1 {
  font-weight: 200;
  text-align: center;
  font-size: 2.7em; }

.addressInput-submit {
  width: 100%;
  height: 44px;
  display: block;
  margin-bottom: 10px;
  position: relative; }

.addressInput-card input[type=text] {
  height: 44px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border-radius: 20px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.addressInput-submit {
  text-align: center;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  font-weight: 200;
  height: 45px;
  padding: 0 8px;
  border-radius: 20px; }

.addressInput-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #192C33; }

.addressInput-submit:hover {
  border: 0px;
  background-color: #758084; }

.addressInput-help {
  width: 100%;
  text-align: center;
  font-size: 12px; }

.card-holder {
  padding: 30px 30px 30px 30px; }

/* END searchBox styling */

.searchesContainer {
  margin-top: 50px; }
  .searchesContainer h3 {
    color: #2A373C; }
  .searchesContainer .redirect-link {
    padding-top: 8px;
    padding-right: 8px; }

.signup-container {
  margin-top: 30px; }
  .signup-container h3 {
    color: #2A373C; }
  .signup-container .signup-btn {
    background-color: #435359;
    color: white; }
